.app__about {
	.sy {
		overflow-y: scroll;
	}

	.sy::-webkit-scrollbar-thumb {
		background-color: rgba(33, 144, 255, 0.6);
		border: 4px solid transparent;
		border-radius: 8px;
		background-clip: padding-box;
	}

	.sy::-webkit-scrollbar {
		width: 16px;
	}

	.p-t {
		font-size: 18px;
		padding: 0;
		margin: 10px 0;

		span {
			color: #2190ff;
			cursor: pointer;

			&:hover {
				color: #0066ff;
			}
		}
	}

	.button {
		button {
			background-color: #2190ff;
			color: #fff;
			margin: 10px;
			text-transform: none;
			font-size: 16px;
			padding: 10px 15px;

			&:hover {
				background-color: rgba(33, 144, 255, 0.9);
			}
		}
		.sh {
			box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		}
	}

	.popup {
		position: absolute;
		top: 30%;
		left: 40%;

		background-color: #fff;
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

		padding: 20px;
		border-radius: 10px;

		flex-direction: column;

		input {
			outline: none;
			border: 1px solid rgba(0, 0, 0, 0.2);
			border-radius: 3px;
			width: 200px;
			height: 38px;
			padding: 0 10px;
			margin-right: 10px;
		}

		.btn {
			border: 1px solid rgba(0, 0, 0, 0.1);
			margin: 10px;
			background-color: #ffafcc;
			color: #000;
		}
	}

	.popheader {
		width: 100%;
		margin-bottom: 20px;
		justify-content: flex-start;

		p {
			padding: 0;
			margin: 0;
			margin-top: 10px;
			font-weight: 600;
		}
	}

	.close {
		width: 30px;
		height: 30px;
		border-radius: 50%;

		position: absolute;
		right: 0;

		background-color: rgba(0, 0, 0, 0.1);

		svg {
			color: rgba(0, 0, 0, 0.5);
		}

		&:hover {
			background-color: rgba(0, 0, 0, 0.2);

			svg {
				color: rgba(0, 0, 0, 0.3);
			}
		}
	}

	.fun {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		position: absolute;

		display: flex;
		align-items: center;
		justify-content: center;
	}
	.forfun {
		.box {
			box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
			border-radius: 10px;

			.img {
				max-width: 600px;

				img {
					margin: 10px;
				}
			}

			background-color: #fff;
			padding: 10px;

			flex-direction: column;
		}

		img {
			width: 290px;
			height: 280px;
			object-fit: cover;
			border-radius: 10px;

			border: 0.5px solid rgba(0, 0, 0, 0.2);
		}

		.nav {
			width: 10px;
			height: 10px;
			background-color: #ced4da;
			border-radius: 50%;
			margin: 5px;
			margin-top: 10px;

			&:hover {
				background-color: #adb5bd;
			}
		}
	}

	.icon-img {
		font-size: 25px;
		color: rgba(0, 0, 0, 0.4);
		user-select: none;

		&:hover {
			color: rgba(0, 0, 0, 0.5);
		}
	}

	.btn-container {
		.yes {
			background: #2190ff;
			color: #fff;

			&:hover {
				background: rgba(33, 144, 255, 0.9);
			}
		}
	}

	@media screen and (max-width: 900px) {
		height: auto;
	}

	@media screen and (max-width: 400px) {
		.button {


			button {
				width: 300px;
			}
		}
	}
}
