.for, .back {
	background: transparent;
	max-height: 60px;
	max-width: 40px;
	font-size: 40px;
	color: #fff;
	padding: 5px;
	border-radius: 50%;

	&:hover {
		background: transparent;
		color: rgba(255, 255, 255, 0.9);
	}
}
